body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/public/tree_elf.jpg');
  background-size: cover;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.teaser-text {
  color: #fff;
  font-size: 40px;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 50px;
}

.grid {
  margin: 0 auto;
  justify-content: center;
  gap: 40px;
  height: 55vh;
}